#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
    		<div class="row align-items-end">
    			<div class="col col-auto">
			    	<h6><b>Moderate Twarrt \##(modData.twarrt.twarrtID)</b></h6>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col" data-reportabletype="twarrt" data-reportableid="#(modData.twarrt.twarrtID)">
					#if(!modData.isDeleted):
						<a class="btn btn-outline-primary btn-sm" href="/tweets/edit/#(modData.twarrt.twarrtID)">Edit</a>
						<button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="\#deleteModal">Delete</button>
						<span class="dropdown">
							<button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								Set State
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="normal">Normal</button></li>
								<li><button class="dropdown-item disabled" type="button">Auto Quarantined</button></li>
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="quarantined">Quarantined</button></li>
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="reviewed">Moderator Reviewed (looks good as is)</button></li>
								<li><button class="dropdown-item" type="button" data-action="setModState" data-newstate="locked">Locked</button></li>
							</ul>
						</span>
						Current State: #(modData.moderationStatus)			
					#endif
				</div>
			</div>
			<div class="alert alert-danger mt-3 d-none" role="alert" id="ModerateContentErrorAlert">
			</div>				
    		<div class="row">
    			<div class="col col-auto">
					<a class="btn btn-outline-primary btn-sm" href="/moderate/user/#(modData.twarrt.author.userID)">Mod User</a>
				</div>
			</div>
    		<div class="row">
    			#if(modData.isDeleted):
					<h6><b>Twarrt has been Deleted.<br>Prior to delete, it looked like this:</b></h6>
    			#else:
					<h6><b>As it currently exists:</b></h6>
				#endif
			</div>
    		<div class="row">
    			<div class="col">
					<ul class="container-md mx-0 px-0 list-group">
						<li class="list-group-item bg-transparent" data-twarrtid="#(modData.twarrt.twarrtID)">				
							<div class="container-fluid mx-0 px-1">
								<div class="row align-items-start justify-content-start">	
									<div class="col g-0" style="flex: 0 0 40px;">
										<a href="/user/#(modData.twarrt.author.userID)">		
											#avatar(modData.twarrt.author)
										</a>
									</div>
									<div class="col">
										<div class="row">	
											<div class="col">
												#userByline(modData.twarrt.author)
											</div>
											<div class="col-auto">
												<span class="text-muted">#relativeTime(modData.twarrt.createdAt)</span>
											</div>
										</div>
										<div class="row">	
											<div class="col">
												#formatTwarrtText(modData.twarrt.text)
											</div>
										</div>
										#if(modData.twarrt.images):
											<div class="row">	
												#for(image in modData.twarrt.images):
													<div class="col">
														<img src="/api/v3/image/full/#(image)" height=200 alt="Post Image">
													</div>
												#endfor
											</div>
										#endif
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			#if(finalEditAuthor):
				<div class="row">
					<div class="col">
						<i>Last edit by #userByline(finalEditAuthor)
						</i>
					</div>
				</div>
			#endif
			<div class="row my-3">
				<div class="col">
					<a class="btn btn-primary btn-sm" href="/tweets?after=#(modData.twarrt.twarrtID - 10)">View in Context</a>
				</div>
			</div>

			#if(count(modData.edits) == 0):
				<div class="row mb-3">
					<div class="col">
						<h6><b>No previous edits to this twarrt.</b></h6>
					</div>
				</div>
			#else:
				<div class="row">
					<h6><b>#count(modData.edits) previous edits:</b></h6>
				</div>
				#for(edit in modData.edits):
					<div class="row">
						<div class="col">
							<ul class="container-md mx-0 px-0 list-group">
								<li class="list-group-item bg-transparent" data-twarrtid="#(edit.twarrtID)">				
									<div class="container-fluid mx-0 px-1">
										<div class="row align-items-start justify-content-start">	
											<div class="col g-0" style="flex: 0 0 40px;">
												<a href="/user/#(edit.author.userID)">		
													#avatar(edit.author)
												</a>
											</div>
											<div class="col">
												<div class="row">	
													<div class="col">
														#userByline(edit.author)
													</div>
													<div class="col-auto">
														<span class="text-muted">#relativeTime(edit.createdAt)</span>
													</div>
												</div>
												<div class="row">	
													<div class="col">
														#addJocomoji(edit.text)
													</div>
												</div>
												#if(edit.images):
													<div class="row">	
														#for(image in edit.images):
															<div class="col">
																<img src="/api/v3/image/full/#(image)" height=200 alt="Post Image">
															</div>
														#endfor
													</div>
												#endif
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				#endfor
			#endif
			
			#if(count(modData.reports) == 0):
				<h6><b>No reports on this twarrt.</b></h6>
			#else:				
				<div class="row mt-3">
					<h6><b>#count(modData.reports) reports on this twarrt:</b></h6>
				</div>
				<div class="row mb-3">
					<div class="col">
						<button type="button" class="btn btn-primary btn-sm" data-action="handleReports" data-reportid="#(firstReport.id)">Start Handling All</button>
						<button type="button" class="btn btn-primary btn-sm" data-action="closeReports" data-reportid="#(firstReport.id)">Close All</button>
					</div>
				</div>
				<div class="list-group">
					#for(report in modData.reports):
						#extend("moderation/reportListItem")
					#endfor
				</div>
			#endif
		</div>

		<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Are you sure you want to delete this post?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" data-action="delete" data-delete-type="tweets" data-delete-postid="">Delete</button>
					</div>
					<div class="mx-3 pb-1 text-end text-danger error-display d-none">
						Could not delete twarrt: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/swiftarrModeration.js"></script>
    #endexport
#endextend
