#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
    		<div class="row">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/seamail">#(trunk.title)</a></li>
					<li class="breadcrumb-item active" aria-current="page">#(fez.title)</li>
				  </ol>
				</nav>
			</div>
			<div class="row">
				<h6>Participants</h6>
			</div>
			<div class="row mb-2 mx-0">
				#for(participant in fez.members.participants):
					<div class="col col-auto border">
						#avatar(participant)
						<span>#(participant.username)</span>
					</div>				
				#endfor
			</div>
			#extend("paginator")
			<ul class="list-group container-md mx-0 px-0">
				#for(fezPost in oldPosts):
					#extend("Fez/fezPost")
				#endfor
				#if(showDivider):
					<hr class="newline">
				#endif
				<span id="newposts"></span>
				#for(fezPost in newPosts):
					#extend("Fez/fezPost")
				#endfor
				
				#if(paginator.nextPageURL == nil):
					<div class="fez-list-end" data-url="/fez/#(fez.fezID)/socket" id="fez-list-end"></div>
					<script src="/js/swiftarrMessages.js"></script>
				#endif
			</ul>
			<span id="afterposts"></span>
			#extend("paginator")
			#if(paginator.nextPageURL == nil):
				<ul class="container-md mt-2 mx-0 px-0 list-group">
					<li class="list-group-item bg-transparent mb-3">				
						<form class="ajax" action="#(post.formAction)" enctype="multipart/form-data" method="POST" data-successurl="#(post.postSuccessURL)">
							<div class="container-fluid">
								<div class="row mb-2"> 
									<textarea class="form-control" maxlength="500" rows="3" name="postText" placeholder="Send a message"></textarea>
								</div>
								<div class="alert alert-danger mt-3 d-none" role="alert">
								</div>				
								<div class="row mb-2">
									<div class="col gx-0">
										<small>Please remember to abide by the<br><a href="/codeOfConduct">Code of Conduct</a></small>
									</div>
									<div class="col col-auto gx-0">
										<button type="submit" class="btn btn-primary">Post</button>
									</div>
								</div>
								#if(trunk.userIsMod && !post.isEdit):
									<div class="row justify-content-end mt-2">
										<div class="col col-auto form-check">
											<input class="form-check-input" type="checkbox" value="" name="postAsTwitarrTeam" id="flexCheckDefault">
											<label class="form-check-label small" for="flexCheckDefault">Post as TwitarrTeam</label>
										</div>
										<div class="col col-auto form-check gx-0">
											<input class="form-check-input" type="checkbox" value="" name="postAsModerator" id="flexCheckDefault">
											<label class="form-check-label small" for="flexCheckDefault">Post as Moderator</label>
										</div>
									</div>
								#endif
							</div>
						</form>
					</li>
				</ul>
			#endif
		</div>
    #endexport
#endextend

