#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2">
    		<div class="row">
    			<div class="col col-auto">
    				<b>Compose a New Seamail</b>
				</div>
			</div>
			<div class="row">
    			<div class="col">
					<ul class="container-md mx-0 px-0 list-group">
						<li class="list-group-item bg-transparent mb-3">				
							<form class="ajax" action="#(post.formAction)" enctype="multipart/form-data" method="POST" data-successurl="#(post.postSuccessURL)">
								<input type="hidden" name="participants" id="participants_hidden" value="#(withUser.userID)">
								<div class="row mb-3">
									<div class="input-group">
										<span class="input-group-text" id="basic-addon1">@</span>
										<input type="text" class="form-control user-autocomplete" autofocus="true" 
												placeholder="Search for users here" 
												aria-label="participants" aria-describedby="basic-addon1" 
												autocapitalize="off" autocomplete="off"
												data-nameusage="seamail">
									</div>
								</div>
								<div class="row">
									<div class="col"><i>Enter partial username above to find users, then tap Add on matches to add to message group</i></div>
								</div>
								<ul class="list-group mb-2 mx-0" id="name_suggestions">
								</ul>
								<div class="row">
									<div class="col"><b>Participants:</b></div>
								</div>
								<ul class="list-group mx-0" id="named_participants">
									<li class="list-group-item swiftarr-namecell" data-uuid="#(trunk.userID)">
										<div class="row justify-content-between align-items-baseline">
											<div class="col">@#(trunk.username)</div>
											<div class="col col-auto"><i>creator</i></div>
										</div>
									</li>
									#if(withUser != nil):
										<li class="list-group-item swiftarr-namecell" data-userid="#(withUser.userID)">
											<div class="row justify-content-between align-items-baseline">
												<div class="col col-auto username-here">@#(withUser.username)</div>
											</div>
										</li>
									#endif
								</ul>
								<div class="row my-3">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Subject" name="subject" aria-label="Subject">
									</div>
								</div>
								<div class="row mb-2">
									<div class="col">
										<textarea class="form-control" maxlength="2000" rows="4" placeholder="First message" name="postText"></textarea>
									</div>
								</div>
								<div class="row mb-2">
									<div class="col">
										<small>Please remember to abide by the <a href="/codeOfConduct">Code of Conduct</a></small>
									</div>
									<div class="col col-auto">
										<button type="submit" class="btn btn-primary">Post</button>
									</div>
								</div>
								<div class="alert alert-danger mt-3 d-none" role="alert">
								</div>				
							</form>
						</li>
					</ul>
    			</div>
			</div>
		</div>

		<template id="potentialMemberTemplate">
			<li class="list-group-item list-group-item-action swiftarr-namecell">
				<div class="row justify-content-between align-items-baseline">
					<div class="col col-auto username-here"></div>
					<label class="col col-auto btn btn-sm btn-primary px-3">
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload">
						<span class="button-title-here">Add</span>
						<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
						<span class="visually-hidden">Loading...</span>
					</label>
				</div>
				<div class="row text-end text-danger error-display d-none">
					Could not add user: <span class="errortext"></span>
				</div>
			</li>
		</template>
    #endexport
#endextend

