#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2" data-fezid="#(fez.fezID)">
    		<div class="row">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/fez">LFG</a></li>
					<li class="breadcrumb-item active" aria-current="page">#(fez.title)</li>
				  </ol>
				</nav>
			</div>
			
			#if(fez.cancelled):
				<div class="row mb-3">
					<div class="col text-danger text-center">
						<b>This LFG has been cancelled</b>
					</div>
				</div>
			#endif

			<div class="row">
				<div class="col">
					@#(fez.owner.username)
				</div>
				<div class="col col-auto mb-auto text-muted">
					#fezTime(fez.startTime, fez.endTime)
				</div>
			</div>

			<div class="row">
				<div class="col">
					#if(fez.maxParticipants == 0):
						#(fez.participantCount) attendee#if(fez.participantCount != 1):s#endif
					#elseif(fez.participantCount > fez.maxParticipants):
						Full; #(fez.participantCount - fez.maxParticipants) waitlisted
					#else:
						#(fez.participantCount)/#(fez.maxParticipants) attendees
					#endif
				</div>
				<div class="col col-auto mb-auto text-muted">
					#(fez.location)
				</div>
			</div>

			<div class="row">
				<div class="col">
					<b>Event Info:</b> #(fez.info)
				</div>
			</div>
			
			#if(userIsMember):
				<div class="row mt-1 justify-content-end row-cols-auto ">
					<div class="col btn-group btn-group-sm" role="group" aria-label="member actions">
						#if(trunk.userIsMod):
							<a class="btn btn-outline-primary" href="/moderate/fez/#(fez.fezID)">Mod</a>
						#endif
						#if(fez.owner.userID == trunk.userID):
							<a class="btn btn-outline-primary" href="/fez/#(fez.fezID)/members">Manage Members</a>
							<a class="btn btn-outline-primary" href="/fez/#(fez.fezID)/update">Update</a>
							<button type="button" class="btn btn-outline-primary px-3" data-bs-toggle="modal" data-bs-target="\#cancelFezModal">Cancel</button>
						#else:
							<a class="btn btn-outline-primary px-3" href="/fez/report/#(fez.fezID)">Report</a>
							<button type="button" class="btn btn-outline-primary px-3" data-bs-toggle="modal" data-bs-target="\#leaveFezModal">Leave</button>
						#endif
					</div>								
				</div>
			#else:
				<div class="row mt-1 justify-content-end row-cols-auto ">
					<div class="col btn-group btn-group-sm" role="group" aria-label="non-member actions">
						#if(trunk.userIsMod):
							<a class="btn btn-outline-primary" href="/moderate/fez/#(fez.fezID)">Mod</a>
						#endif
						<a class="btn btn-outline-primary" href="/fez/report/#(fez.fezID)">Report</a>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload" 
								data-actionpath="/fez/#(fez.fezID)/join"
								data-errordiv="fezActions_errorDisplay"
								id="#(fez.fezID)_join">
						<label class="btn btn-primary px-4" for="#(fez.fezID)_join">
							Join
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>								
				</div>
			#endif

			<div class="row">
				<div class="col text-end text-danger d-none" id="fezActions_errorDisplay">
					Could not join LFG: <span class="errortext"></span>
				</div>
			</div>	
			
			#if(fez.members):
				<div class="row mt-2">
					<b>Participants</b>
				</div>
				<div class="row mb-2 mx-0">
					#for(participant in fez.members.participants):
						<div class="col col-auto border text-nowrap">
							#avatar(participant) #userByline(participant)
						</div>				
					#endfor
				</div>
				#if(count(fez.members.waitingList) > 0):
					<div class="row mt-2">
						<b>Wait List</b>
					</div>
					<div class="row mb-2 mx-0">
						#for(participant in fez.members.waitingList):
							<div class="col col-auto border text-nowrap">
								#avatar(participant) #userByline(participant)
							</div>				
						#endfor
					</div>
				#endif
				<div class="row align-items-center">
					<div class="col">
						<b>Posts</b>
					</div>
					<div class="col col-auto mb-auto">
						<span class="badge rounded-pill bg-light text-dark">
							<span id="post-count-span">#(fez.members.postCount)</span> posts
						</span>
						#if(fez.members.readCount < fez.members.postCount):
							<span class="badge rounded-pill bg-danger">#(fez.members.postCount - fez.members.readCount) new</span>
						#endif
					</div>
				</div>
				#extend("paginator")
				<ul class="list-group container-md mx-0 px-0">
					#for(fezPost in oldPosts):
						#extend("Fez/fezPost")
					#endfor
					#if(showDivider):
						<hr class="newline">
					#endif
					<span id="newposts"></span>
					#for(fezPost in newPosts):
						#extend("Fez/fezPost")
					#endfor
					
					#if(paginator.nextPageURL == nil):
						<div class="fez-list-end" data-url="/fez/#(fez.fezID)/socket" id="fez-list-end"></div>
						<script src="/js/swiftarrMessages.js"></script>
					#endif
				</ul>
				#extend("paginator")
				#if(paginator.nextPageURL == nil):
					<ul class="container-md mt-2 mx-0 px-0 list-group">
						<li class="list-group-item bg-transparent mb-3">				
							<form class="ajax" action="#(post.formAction)" enctype="multipart/form-data" method="POST" data-successurl="reset">
								<div class="container-fluid">
									<div class="row mb-2"> 
										<textarea class="form-control" maxlength="500" rows="3" name="postText" placeholder="Send a message"></textarea>
									</div>
									<div class="alert alert-danger mt-3 d-none" role="alert">
									</div>				
									<div class="row mb-2 justify-content-between">
										<div class="card px-0 col-6 col-md-4 col-lg-3">
											<h5 class="card-header">Photo</h5>
											<div class="m-1 border img-for-upload-container">
												<div class="ratio ratio-1x1">
													<img class="img-for-upload" alt="">
												</div>
											</div>
											<p class="text-center no-image-marker"><i>no photo selected</i></p>
											<div class="container-fluid p-1">
												<div class="row">
													<div class="col">
														<label class="btn btn-primary col-12 form-label">
															<input class="image-upload-input d-none" type="file" accept="#(post.allowedImageTypes)" name="localPhoto1">
															Choose Photo
														</label>
														<input type="hidden" value="" name="serverPhoto1">
													</div>
												</div>
												<div class="row justify-content-between m-0">
													<div class="col col-auto p-0 m-0">
														<button type="button" class="btn btn-primary btn-sm twitarr-image-remove">Remove</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col col-6 text-end pe-0">
											<button type="submit" class="btn btn-primary mb-4">Post</button><br>
											<small>Please remember to abide by the <a href="/codeOfConduct">Code of Conduct</a></small>
										</div>
									</div>
									#if(trunk.userIsMod && !post.isEdit):
										<div class="row justify-content-end mt-2">
											<div class="col col-auto form-check">
												<input class="form-check-input" type="checkbox" value="" name="postAsTwitarrTeam" id="flexCheckDefault">
												<label class="form-check-label small" for="flexCheckDefault">Post as TwitarrTeam</label>
											</div>
											<div class="col col-auto form-check gx-0">
												<input class="form-check-input" type="checkbox" value="" name="postAsModerator" id="flexCheckDefault">
												<label class="form-check-label small" for="flexCheckDefault">Post as Moderator</label>
											</div>
										</div>
									#endif
								</div>
							</form>
						</li>
					</ul>
				#endif
			#endif
		</div>

		<div class="modal fade" id="leaveFezModal" tabindex="-1" aria-labelledby="leave LFG modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="leave fez modal">Leave LFG</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Are you sure you want to leave the LFG? You'll be giving up your spot--LFGs with limited space are first-come, first-served.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload" 
								data-actionpath="/fez/#(fez.fezID)/leave"
								data-errordiv="fezDialog_errorDisplay"
								id="#(fez.fezID)_leave">
						<label class="btn btn-primary px-4" for="#(fez.fezID)_leave">
							Leave
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>
					<div class="mx-3 pb-1 text-end text-danger d-none error-display" id="fezDialog_errorDisplay">
						Error attempting to leave LFG: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="cancelFezModal" tabindex="-1" aria-labelledby="cancel fez modal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="cancel fez modal">Cancel LFG</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Cancelling the LFG will mark the LFG as not happening and notify all participants.
						The LFG won't be deleted; participants can still create and read posts.</p>
						#if(fez.members):
							#if(count(fez.members.participants) > 1):
								<p>If you haven't, you may want to make a post letting particpants know why the event was cancelled.</p>
							#endif
						#endif
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">DON'T Cancel LFG</button>
						<input type="checkbox" class="btn-check" autocomplete="off" data-action="reload" 
								data-actionpath="/fez/#(fez.fezID)/cancel"
								data-errordiv="cancelDialog_errorDisplay"
								id="#(fez.fezID)_cancel">
						<label class="btn btn-primary px-4" for="#(fez.fezID)_cancel">
							Cancel
							<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
							<span class="visually-hidden">Loading...</span>
						</label>
					</div>
					<div class="mx-3 pb-1 text-end text-danger d-none error-display" id="cancelDialog_errorDisplay">
						Error attempting to cancel LFG: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Are you sure you want to delete this post?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" data-action="delete" data-delete-type="fez/post" data-delete-postid="">Delete</button>
					</div>
					<div class="mx-3 pb-1 text-end text-danger error-display d-none">
						Could not delete post: <span class="errortext"></span>
					</div>
				</div>
			</div>
		</div>
		#extend("imageOverlay")
    #endexport
#endextend

