#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 my-1">
    		#if(upcomingEvent):
	    		<div class="row mb-1 align-items-center">
	    			<div class="col">
					</div>
    			</div>
	    		<div class="row mb-1 align-items-center">
					<ul class="container-md mx-0 px-0 list-group">
						<li class="list-group-item border border-danger collapse show has-action-bar bg-light" 
								data-eventid="#(upcomingEvent.eventID)" 
								data-eventfavorite=#if(upcomingEvent.isFavorite == true):"true"#else:"false"#endif
								data-eventcategory="#(upcomingEvent.eventType)">
							<div class="container-fluid px-2">
								<div class="text-center text-danger">An event you follow is starting soon™</div>
								<div class="row">	
									<div class="col">
										<b>#(upcomingEvent.title)</b>
									</div>
								</div>
								<div class="row">	
									<div class="col-sm">
										<span class="text-secondary"><i>#eventTime(upcomingEvent.startTime, upcomingEvent.endTime)</i></span>
									</div>
									<div class="col-sm text-sm-end">
										#(upcomingEvent.location)
									</div>
								</div>
								<div class="row collapse justify-content-end" data-label="actionbar">	
									<div class="col-12">
										#(upcomingEvent.description)
									</div>
									<div class="col col-auto btn-group btn-group-sm mt-1" role="group" aria-label="Event actions">
										#if(upcomingEvent.forum):
											<a class="btn btn-outline-primary" href="/forum/#(upcomingEvent.forum)">Forum</a>
										#endif
									</div>								
								</div>
							</div>
						</li>
					</ul>
				</div>
			#endif
    		<div class="row mb-1 align-items-center">
    			<div class="col">
    				<b>#(filterString)</b>
				</div>
    			<div class="col col-auto">
					<div class="dropdown">
						<button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" id="eventFilterMenu" data-bs-toggle="dropdown" data-selected="all" aria-expanded="false">
							All Events
						</button>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventFilterMenu">
							<li><button class="dropdown-item active" type="button" data-action="filterEventType" data-selection="all">All Events</button></li>
 							<li><hr class="dropdown-divider"></li>
							<li><h6 class="dropdown-header">Only show:</h6></li>
 							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Gaming">Gaming</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Official">General</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Live Podcast">Live Podcast</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Main Concert">Main Concert</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Office Hours">Office Hours</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Party">Party</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="qaPanel">Q&A/Panel</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Reading/Performance">Reading Performance</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Shadow Event">Shadow Event</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Signing">Signing</button></li>
							<li><button class="dropdown-item" type="button" data-action="filterEventType" data-selection="Workshop">Workshop</button></li>
						</ul>
					</div>
				</div>
				<div class="col btn-group btn-group-sm col-auto" role="group" aria-label="Event Filters">
					<button class="btn btn-outline-primary #if(!trunk.userIsLoggedIn):d-none#endif" type="button" data-bs-toggle="button" data-action="eventFiltersChanged" id="eventFollowingFilter">Following</button>
				</div>								
			</div>
    		<div class="row">
				<div class="col btn-group btn-group-sm" role="group" aria-label="Event Filters" id="cruiseDayButtonGroup">
					#if(useAllDays):
						#for(cruiseDay in days):
							<input type="checkbox" class="btn-check" data-action="eventFiltersChanged" data-cruiseday="#(cruiseDay.index)" id="#(cruiseDay.name)" autocomplete="off">
							<label class="btn btn-outline-primary" for="#(cruiseDay.name)">#(cruiseDay.name)</label>
						#endfor
					#else:
						#for(cruiseDay in days):
							<a class="btn btn-outline-primary #if(cruiseDay.activeDay):active#endif" href="/events?cruiseday=#(cruiseDay.index + 1)">#(cruiseDay.name)</a>
						#endfor
					#endif
				</div>								
			</div>
		</div>
		#if(isBeforeCruise):
    	<div class="container-md ms-0 my-1">
    		<div class="row mb-1">
    			<div class="col text-center">
    				<i>The cruise hasn't started yet. Here are the events planned on the cruise day shown above.</i>
				</div>								
			</div>
		</div>
		#endif
		#if(isAfterCruise):
    	<div class="container-md ms-0 my-1">
    		<div class="row">
    			<div class="col text-center">
    				<i>The cruise has ended. Here are the events that happened on the cruise day shown above.</i>
				</div>								
			</div>
		</div>
		#endif
		<ul class="container-md mx-0 px-0 list-group" data-listtype="event">
		#if(count(events) == 0):
			<li class="list-group-item bg-transparent">
				<span class="text-center"><h6>No events match the filters</h6>
			</li>
		#else:
			#for(event in events):
				<li class="list-group-item bg-transparent collapse show has-action-bar" 
						data-eventid="#(event.eventID)" 
						data-eventfavorite=#if(event.isFavorite == true):"true"#else:"false"#endif
						data-eventcategory="#(event.eventType)"
						data-cruiseday="#cruiseDayIndex(event.startTime)">				
					<div class="container-fluid">
						<div class="row">	
							<div class="col">
								<b>#(event.title)</b>
							</div>
						</div>
						<div class="row">	
							<div class="col-sm">
								<span class="text-secondary"><i>#eventTime(event.startTime, event.endTime)</i></span>
							</div>
							<div class="col-sm text-sm-end">
								#(event.location)
							</div>
						</div>
						<div class="row collapse justify-content-end" data-label="actionbar">	
							<div class="col-12">
								#(event.description)
							</div>
							<div class="col col-auto btn-group btn-group-sm mt-1" role="group" aria-label="Event actions">
								#if(event.forum):
									<a class="btn btn-outline-primary" href="/forum/#(event.forum)">Forum</a>
								#endif
								<a class="btn btn-outline-primary" href="/events/#(event.eventID)/calendarevent.ics">Add to Calendar</a>
								#if(trunk.userIsLoggedIn):
									<input type="checkbox" class="btn-check" autocomplete="off" data-action="follow" 
											data-actionpath="/events/#(event.eventID)/favorite"
											data-istoggle="true"
											data-errordiv="#(event.eventID)_errorDisplay"
											id="#(event.eventID)_follow"
											#if(event.isFavorite):checked#endif>
									<label class="btn btn-outline-primary" for="#(event.eventID)_follow">
										Follow
										<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
										<span class="visually-hidden">Loading...</span>
									</label>
								#endif
							</div>								
						</div>
						<div class="row">
							<div class="col text-end text-danger d-none" id="#(event.eventID)_errorDisplay">
								Could not follow/unfollow event: <span class="errortext"></span>
							</div>
						</div>	
					</div>
				</li>
			#endfor
		#endif
		</ul>
    #endexport
#endextend
