#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0 mt-2 mb-5">
			<div class="card mb-2">	
				#if(dailyTheme.image):
					<img class="card-img" src="/api/v3/image/full/#(dailyTheme.image)" alt="Daily Theme Image">
 					<div class="card-img-overlay">
						<div class="card-header bg-primary-50">
							<span class="text-white">
								<b>Today's Theme: #(dailyTheme.title)</b>
							</span>
						</div>
						<div class="card-body bg-light-50">
							#(dailyTheme.info)
						</div>
					</div>
				#else:
					<div class="card-header bg-primary">
						<span class="text-white">
							<b>Today's Theme: #(dailyTheme.title)</b>
						</span>
					</div>
					<div class="card-body bg-light">
						#formatTwarrtText(dailyTheme.info)
					</div>
					#if(dailyTheme.image):
						<img class="card-img-bottom" src="/api/v3/image/full/#(dailyTheme.image)" alt="Daily Theme Image">
					#endif
				#endif
			</div>

			#if(count(announcements) > 0):
				<h4><b>Announcements</b></h4>
				#for(ann in announcements):
					<div class="card mb-2">	
						<div class="card-header bg-success">
							<span class="text-white">
								<b>From:</b> #userByline(ann.author, "link-light")
							</span>
						</div>
						<div class="card-body bg-light">
							#formatTwarrtText(ann.text)<br>
							<span class="text-muted"><i>Display Until #staticTime(ann.displayUntil)</i></span>
						</div>
					</div>
				#endfor
			#endif
						
			#if(trunk.alertCounts.newTwarrtMentionCount > 0 || trunk.alertCounts.newForumMentionCount > 0):
				<h6><b>Notifications</b></h6>
			#endif
			<div class="list-group">
			#if(trunk.alertCounts.newTwarrtMentionCount > 0):
				<a class="list-group-item list-group-item-action" href="/tweets?mentions=#(trunk.username)">
					You have #(trunk.alertCounts.newTwarrtMentionCount) new tweet @mentions
				</a>
			#endif
			#if(trunk.alertCounts.newForumMentionCount > 0):
				<a class="list-group-item list-group-item-action" href="/forumpost/mentions">
					You have #(trunk.alertCounts.newForumMentionCount) new forum @mentions
				</a>
			#endif
			#if(trunk.userIsLoggedIn):
				<div class="row mt-2">
					<div class="col">
						<h4><b>Things to Do:</b></h4>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col">
						<ul class="list-group">
							<li class="list-group-item"><a href="/profile">View your User Profile</a></li>
							<li class="list-group-item"><a href="/blocks">Manage Muted and Blocked Users</a></li>
							<li class="list-group-item"><a href="/alertwords">Manage Alert and Mute Keywords</a></li>
							<li class="list-group-item"><a href="/createAltAccount">Create an Alt Account</a></li>
							<li class="list-group-item"><a href="/codeOfConduct">Read the Code of Conduct</a></li>
						</ul>
					</div>
				</div>
			#else:
				<div class="row my-2">
					<div class="col">
						<b>You are currently logged out</b><br>
						<p>Use the links below to log in or create an account.</p><p>While logged out, Tweets, Forums, Seamail, and Looking For Group will not be available.</p>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col">
						<a class="btn btn-outline-primary" href="/login">Login</a>
						<a class="btn btn-outline-primary" href="/createAccount">Create Account</a>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col">
						<a href="/codeOfConduct">Read the Code of Conduct</a>
					</div>
				</div>
			#endif
		</div>
    #endexport
#endextend
