<div class="modal fade" id="imageCarouselModal" tabindex="-1" aria-hidden="true">
		<div class="swiftarr-closeup-box">
			<img class="swiftarr-closeup-image" src="">
		</div>
	<div class="modal-dialog m-0">
	</div>
</div>
