<ul class="container-md mx-0 px-0 list-group">
	<li class="list-group-item bg-transparent mb-3">				
		<form class="ajax" action="#(post.formAction)" enctype="multipart/form-data" method="POST" data-successurl="#(post.postSuccessURL)" id="messagePostForm">
			<div class="container-fluid">
				#if(post.showForumTitle):
					<div class="row mb-3"> 
						<input type="text" class="form-control" name="forumTitle" id="forumTitle" placeholder="#(post.forumTitlePlaceholder)" value="#(post.forumTitle)">
					</div>
				#endif
				#if(!post.onlyShowForumTitle):
					<div class="row mb-2"> 
						<textarea class="form-control" maxlength="2000" rows="5" name="postText" id="postText" placeholder="#(post.messageTextPlaceholder)">#(post.messageText)</textarea>
					</div>
					<div class="row mb-2">
						Add up to #count(post.photoFilenames) photos
					</div>
					<div class="row mb-2">
						#for(fn in post.photoFilenames):
							<div class="card px-0 col-6 col-md-4 col-lg-3">
								<h5 class="card-header">Photo #(index + 1)</h5>
								<div class="m-1 border img-for-upload-container">
									<div class="ratio ratio-1x1">
										<img class="img-for-upload" alt="">
									</div>
								</div>
								<p class="text-center no-image-marker"><i>no photo selected</i></p>
								<div class="container-fluid p-1">
									<div class="row">
										<div class="col">
											<label class="btn btn-primary col-12 form-label">
												<input class="image-upload-input d-none" type="file" accept="#(post.allowedImageTypes)" name="localPhoto#(index + 1)">
												Choose Photo
											</label>
											<input type="hidden" value="#(fn)" name="serverPhoto#(index + 1)">
										</div>
									</div>
									<div class="row justify-content-between m-0">
										#if(index > 0):
											<div class="col col-auto p-0 m-0">
												<button type="button" class="btn btn-primary btn-sm twitarr-image-swap"><< Swap</button>
											</div>
										#endif
										<div class="col col-auto p-0 m-0">
											<button type="button" class="btn btn-primary btn-sm twitarr-image-remove">Remove</button>
										</div>
									</div>
								</div>
							</div>
						#endfor
					</div>
					#if(post.showCruiseDaySelector):
						<div class="row mb-2">
   							<label for="cruiseDayInput" class="form-label">Day of Cruise:</label>
							<input type="number" class="form-control" name="cruiseDay" id="cruiseDayInput" aria-describedby="cruiseDayHelp" value="#(post.displayUntil)">
   							<div id="cruiseDayHelp" class="form-text">0 is embarkation day. Can be negative.</div>
						</div>
					#endif
				#endif
				<div class="alert alert-danger mt-3 d-none" role="alert">
				</div>				
				<div class="row mb-2">
					<div class="col gx-0">
						<small>Please remember to abide by the <a href="/codeOfConduct">Code of Conduct</a></small>
					</div>
					<div class="col col-auto gx-0">
						<button type="submit" class="btn btn-primary">Post</button>
					</div>
				</div>
				#if(trunk.userIsMod && !post.isEdit):
					<div class="row justify-content-end mt-2">
						<div class="col col-auto form-check">
							<input class="form-check-input" type="checkbox" name="postAsTwitarrTeam" value="" id="flexCheckDefault">
							<label class="form-check-label small" for="flexCheckDefault">Post as TwitarrTeam</label>
						</div>
						<div class="col col-auto form-check gx-0">
							<input class="form-check-input" type="checkbox" value="" name="postAsModerator" id="flexCheckDefault">
							<label class="form-check-label small" for="flexCheckDefault">Post as Moderator</label>
						</div>
					</div>
				#endif
			</div>
		</form>
	</li>
</ul>
