#extend("trunk"):
    #export("body"):
    	<div class="container-fluid">
            <div class="row my-3">
                <h4>Time Zone Check</h4>
            </div>
            <div class="row">
                <p>
                    JoCo Cruise will be making at least one time zone change this year. St Croix is in Atlantic Standard 
                    Time while the rest of our voyage will be in Eastern Standard Time. Be careful when scheduling events 
                    that you take note of the expected time zone. The server that Twitarr runs on will be in UTC (Coordinated 
                    Universal Time, Greenwich Mean Time, Zero/Zulu time) for the duration of the cruise.
                </p>
            </div>
            <div class="row">
                <p><b>Display time: </b><span>#(displayTime)</span></p>
                <p><b>Device time: </b><span id="browserTimeDisplay">Unknown</span></p>
            </div>
            <div class="row">
                <p>If the <b>Display time</b> and <b>Device time</b> above are different, you should change the time zone on your device until they match. This should be in your settings somewhere. If you can't find it, ask a tech nerd. There's probably one nearby.</p>
            </div>
            <div class="row my-3">
                <h5>Additional Time Information</h5>
            </div>
            <div class="row">
                <p>
                    This section is geared torward moderators and developers. If you are not one of these groups, don't 
                    worry about it too much.
                </p>
            </div>
            <div class="row">
                <p><b>Server time: </b><span>#(serverTime)</span></p>
                <p><b>Port time: </b><span>#(portTime)</span></p>
            </div>
		</div>
    #endexport
#endextend
