#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0">
    		<div class="row justify-content-between align-items-center my-2">
    			<div class="col col-auto">
			    	<b>Server Admin</b>
				</div>
			</div>
			<div class="list-group">
				<a class="list-group-item list-group-item-action" href="/admin/announcements">
					<b>Announcements</b>: Create, Edit and Delete system-wide announcements
				</a>		
				<a class="list-group-item list-group-item-action" href="/admin/dailythemes">
					<b>Daily Themes</b>: Set info for Theme Days, including explanatory text and pictures.
				</a>		
				<a class="list-group-item list-group-item-action" href="/admin/serversettings">
					<b>Server Settings</b>: Lots of inscrutable toggles and buttons here.
				</a>		
				<a class="list-group-item list-group-item-action" href="/admin/scheduleupload">
					<b>Schedule Upload</b>: Uploads and processes a new schedule.ics file.
				</a>		
				<a class="list-group-item list-group-item-action" href="/admin/regcodes">
					<b>Registration Codes</b>: View/Manage registration code table.
				</a>
				#if(trunk.userIsTHO):
					#if(trunk.username == "admin"):
						<a class="list-group-item list-group-item-action" href="/admin/tho">
							<b>Manage THO</b>: View/Manage THO members.
						</a>
					#else:
						<a class="list-group-item list-group-item-action" href="/admin/tho">
							<b>Manage THO</b>: View THO members.
						</a>
					#endif
					<a class="list-group-item list-group-item-action" href="/admin/twitarrteam">
						<b>Manage TwitarrTeam Members</b>: View/Manage members of TwitarrTeam.
					</a>
					<a class="list-group-item list-group-item-action" href="/admin/mods">
						<b>Manage Moderators</b>: View/Manage moderators.
					</a>
				#endif
				<a class="list-group-item list-group-item-action" href="/admin/karaoke/managers">
					<b>Manage Karaoke Managers</b>: View/Manage Karaoke Managers.
				</a>		
				<a class="list-group-item list-group-item-action" href="/seamail?foruser=twitarrteam">
					<b>TwitarrTeam Seamail</b>: Seamail to @twitarrteam
					#if(trunk.alertCounts.moderatorData.newTTSeamailMessageCount > 0):
						<div><span class="text-muted border-bottom border-danger"><i>#(trunk.alertCounts.moderatorData.newTTSeamailMessageCount) New Message#if(trunk.alertCounts.moderatorData.newTTSeamailMessageCount > 1):s#endif</i></span></div>
					#endif
				</a>
			</div>
		</div>
    #endexport
#endextend
