#extend("trunk"):
    #export("body"):
	  <div class="container-fluid">
		#if(operationSuccess):
			<div class="alert alert-primary mt-3" role="alert">
				<div class="d-flex align-items-center">
					<b>#(operationName) Successful. Redirecting...</b>
					<div class="spinner-border ms-2" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
			</div>
		#elseif(trunk.userIsLoggedIn):
			<div class="container-fluid mt-3">
				<div class="row">
					<h6>Click the button below to log out. You are currently logged in as user "#(trunk.username)".</h6>
				</div>
				<div class="row">
					<form action="/logout" method="POST">
						<button class="btn btn-primary" type="submit">Logout</button>
					</form>
				</div>
			</div>
		#else:			
			<div class="container-fluid mt-3">
				<div class="row">
					<h5>Welcome to Twit-arr! Please log in.</h5>
				</div>
				<form action="/login" method="POST">
				  <div class="mb-3 col-7">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" id="username" name="username" spellcheck="off" autocapitalize="none" autocomplete="username">
				  </div>
				  <div class="mb-3 col-7">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" autocomplete="current-password">
				  </div>
				  <button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
			
			#if(error):
			<div class="alert alert-danger mt-3" role="alert">
				<b>Error:</b> #(error.reason)
			</div>
			#endif
			<div class="container-fluid mt-3">
				<div class="row nav-item">
					<a class="nav-link" href="/createAccount">I want to create an account</a>
				</div>
				<div class="row nav-item">
					<a class="nav-link" href="/resetPassword">I forgot my password!</a>
				</div>
				<div class="row nav-item">
					<a class="nav-link" href="/codeOfConduct">I want to read the Code of Conduct and Twit-arr Rules!</a>
				</div>
			</div>
		#endif
	  </div>
    #endexport
#endextend
