#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0">
    		<div class="row align-items-center my-1">
    			<div class="col col-auto">
			    	<b>Forum Categories</b>
				</div>
    			<div class="col">
				</div>
    			<div class="col col-auto align-self-end">
    				#if(trunk.alertCounts.newForumMentionCount == 1):
						<a class="btn btn-outline-danger btn-sm" href="/forumpost/mentions">1 New Mention</a>
    				#elseif(trunk.alertCounts.newForumMentionCount > 1):
						<a class="btn btn-outline-danger btn-sm" href="/forumpost/mentions">#(trunk.alertCounts.newForumMentionCount) New Mentions</a>
					#elseif(trunk.alertCounts.forumMentionCount == 1):
						<a class="btn btn-outline-primary btn-sm" href="/forumpost/mentions">1 Mention</a>
					#elseif(trunk.alertCounts.forumMentionCount > 0):
						<a class="btn btn-outline-primary btn-sm" href="/forumpost/mentions">#(trunk.alertCounts.forumMentionCount) Mentions</a>
					#endif
				</div>
			</div>
			<div class="list-group">
				#for(cat in categories):
					<a href="/forums/#(cat.categoryID)" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col fw-bold">
									#(cat.title)
								</div>
								<div class="col col-auto">
									#(cat.numThreads) threads
								</div>
							</div>
							<div class="row">
								<div class="col text-muted">
									#(cat.purpose)
								</div>
							</div>
						</div>
					</a>
				#endfor
			</div>
			#if(trunk.userIsLoggedIn):
				<div class="row align-items-center mt-2 mb-1">
					<div class="col col-auto">
						<b>Personal Categories</b>
					</div>
				</div>
				<div class="list-group">
					<a href="/forum/favorites" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Favorite Forums
								</div>
							</div>
						</div>
					</a>
					<a href="/forum/owned" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Forums You Created
								</div>
							</div>
						</div>
					</a>
					<a href="/forumpost/favorite" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Favorite Posts
								</div>
							</div>
						</div>
					</a>
					<a href="/forumpost/owned" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Posts You Wrote
								</div>
							</div>
						</div>
					</a>
					<a href="/forumpost/mentions" class="list-group-item list-group-item-action">		
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									Posts Mentioning You
								</div>
								<div class="col col-auto">
									#if(trunk.alertCounts.forumMentionCount > 0):
										#(trunk.alertCounts.forumMentionCount) Mention#if(trunk.alertCounts.forumMentionCount > 1):s#endif
										#if(trunk.alertCounts.newForumMentionCount > 0):, <span class="text-danger">#(trunk.alertCounts.newForumMentionCount) New</span>#endif
									#endif
								</div>
							</div>
						</div>
					</a>
				</div>
				#if(count(trunk.alertCounts.alertWords) > 0):
					<div class="row align-items-center mt-2 mb-1">
						<div class="col col-auto">
							<b>Alert Keywords</b>
						</div>
					</div>
					<div class="list-group">
						#for(alertwordData in trunk.alertCounts.alertWords):
							<a href="/forum/search?searchType=posts&search=#(alertwordData.alertword)" class="list-group-item list-group-item-action">		
								<div class="container-fluid">
									<div class="row justify-content-between">
										<div class="col">
											#(alertwordData.alertword)
										</div>
										<div class="col col-auto">
											#(alertwordData.forumMentionCount) match#if(alertwordData.forumMentionCount != 1):es#endif#if(alertwordData.newForumMentionCount > 0):, <span class="text-danger">#(alertwordData.newForumMentionCount) new</span>#endif
										</div>
									</div>
								</div>
							</a>
						#endfor
					</div>
				#endif
			#endif
		</div>
    #endexport
#endextend

