#extend("trunk"):
    #export("body"):
    	<div class="container-md ms-0">
    		<div class="row align-items-center my-1">
    			<div class="col">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb mb-0">
							<li class="breadcrumb-item" aria-current="page"><a href="/forums">Forums</a></li>
							<li class="breadcrumb-item active" aria-current="page">#(filterDescription)</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="list-group">
				#if(count(forums.forumThreads) > 0):
					#for(forum in forums.forumThreads):
						<a href="/forum/#(forum.forumID)" class="list-group-item list-group-item-action">		
							<div class="row">
								<div class="col">
									#(forum.title)
								</div>
								<div class="col col-auto">
									<span class="text-muted">#relativeTime(forum.lastPostAt)</span>
								</div>
							</div>
							<div class="row">
								<div class="col">
									#(forum.postCount) posts#if(forum.readCount < forum.postCount):, <span class="text-danger">#(forum.postCount - forum.readCount) new</span>#endif
								</div>
								<div class="col col-auto">
									<span class="text-muted">Last post: @#(forum.lastPoster.username)</span>
								</div>
							</div>
						</a>
					#endfor
				#else:
					<div class="list-group-item">
						#if(searchType == "favorite"):
							You haven't favorited any forums yet.
						#elseif(searchType == "owned"):
							You haven't created any forums yet.
						#elseif(searchType == "textSearch"):
							No forum titles match the search criteria.
						#else:
							There aren't any forums to show.
						#endif
					</div>
				#endif
			</div>
		</div>
		#extend("paginator")
    #endexport
#endextend

